/* Panier */
.cart {
	position: fixed;
	top: 0;
	right: -100%; /* Caché à droite */
	width: 75vw; /* 3/4 de l'écran */
	height: 100vh;
	background-color: white;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
	transition: right 0.3s ease-in-out;
	z-index: 901; /* Au-dessus de l'overlay */
	padding-top: 80px;
}
 
/* Overlay (fond gris pour désactiver les clics) */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 900; /* Sous le panier mais au-dessus du reste */
}
 
/* Classe active : Panier visible */
.cart.open {
	right: 0;
}
 
/* Classe active : Overlay visible */
.overlay.active {
	visibility: visible;
	opacity: 1;
}

.cart-button {
	position: fixed;
	top: 70px; 
	right: 20px; 
	padding: 10px 20px;
	background-color: #007bff; 
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}
 
 .cart-button:hover {
	background-color: #0056b3;
}

.cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.cart-table, .cart-table th {
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	border: 1px black solid;
}