/* Panier */ 
.cart {
	position: fixed;
	top: 0;
	right: -100%; /* Caché à droite */
	width: 75vw;
	height: 100vh;
	background-color: #fefefe; /* Couleur plus claire */
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
	transition: right 0.3s ease-in-out;
	z-index: 901;
	padding-top: 80px;
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6); /* Fond plus foncé */
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 900;
}

/* Panier visible */
.cart.open {
	right: 0;
}

/* Overlay visible */
.overlay.active {
	visibility: visible;
	opacity: 1;
}

/* Bouton panier */
.cart-button {
	position: fixed;
	top: 70px;
	right: 20px;
	padding: 10px 20px;
	background-color: #1a73e8; /* Bleu accessible */
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
	transition: background-color 0.3s ease;
}

.cart-button:hover {
	background-color: #1558b0; /* Hover plus foncé */
}

.cart-add-button {
	margin-left: 32px;
	cursor: pointer;
	color: #1a73e8;
}

.cart-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #fff;
}

.cart-table th,
.cart-table td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.cart-table th {
	font-weight: bold;
	background-color: #e9f0f9; /* Bleu clair pour l'entête */
	color: #333;
}

.cart-table .product {
	display: flex;
	align-items: center;
}

.cart-table .product img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 5px;
}

.cart-table .product-info {
	display: flex;
	flex-direction: column;
	color: #333;
}

.cart-table .product-unitPrice {
	font-weight: bold;
	color: #222;
}

.cart-table .product-size {
	font-size: 12px;
	color: #666;
}

.cart-table .quantity {
	align-items: center;
	gap: 5px;
}

.cart-table .quantity button {
	background-color: #e6eef6; /* Bleu très pâle */
	border: 1px solid #bbb;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	color: #222;
}

.cart-table .quantity button:hover {
	background-color: #d0deec;
}

.cart-table .price {
	font-weight: bold;
	color: #111;
}
