/* Conteneur principal */
.login-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding: 2rem;
}

/* Titre du formulaire */
h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
   color: #333;
}

/* Erreur */
.error {
   color: #db4437;
   margin-bottom: 1rem;
   font-size: 0.9rem;
}

/* Formulaire */
.form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   max-width: 400px;
   background-color: white;
   padding: 2rem;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Champs de saisie */
.input {
   padding: 0.8rem;
   font-size: 1rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 100%;
   box-sizing: border-box;
   outline: none;
   transition: border-color 0.3s ease;
}

.input:focus {
   border-color: #007bff;
}

/* Boutons */
.button {
   padding: 0.8rem;
   font-size: 1rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   transition: background-color 0.3s ease;
}

.button:hover {
   background-color: #0056b3;
   color: white;
}

.button:focus {
   outline: none;
}

.button[style] {
   background-color: #db4437;
   color: white;
}

.button[style]:hover {
   background-color: #c1351d;
}

/* Texte pour passer de la connexion à l'inscription et vice versa */
.toggle {
   color: #007bff;
   cursor: pointer;
   text-align: center;
   margin-top: 1rem;
}

.toggle:hover {
   text-decoration: underline;
}

/* Responsivité */
@media (max-width: 600px) {
   .login-container {
      padding: 1rem;
   }

   .form {
      padding: 1.5rem;
      width: 90%;
   }
}

.reset-password-link {
   background: none;
   border: none;
   color: #007bff;
   text-decoration: underline;
   cursor: pointer;
   margin-top: 10px;
}
.reset-password-link:hover {
   color: #0056b3;
}
